body {
    padding-top: 100px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.img-size {
    width: 143px;
    height: 206px;
}
.User-name {
    color: white;
    padding-top: 15px;
    padding-left: 20px;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #ffd541;
}

    .form h1 {
        margin: 30px 100px;
        padding: 0;
        text-align: center;
        color: black;
        font-size: 30px;
        text-transform: uppercase;
    }

.input-form {
    margin: 15px 40px;
    text-align: center;
}

    .input-form input {
        padding: 10px;
        width: 100%;
        color: #fff;
        font-size: 20px;
        background: none;
        outline: none;
        border: 1px solid;
        box-sizing: border-box;
    }

        .input-form input[type="text"]:focus, .input-form input[type="password"]:focus {
            border: 1px solid #0fc3f5;
        }

        .input-form input[type="submit"] {
            margin-top: 20px;
            font-weight: bold;
            text-transform: uppercase;
            background: #0fc3f5;
            border: none;
            border-radius: 5px;
        }

.list-book {
    padding: 15px;
    border-bottom: 1px solid #ffd541;
}
.img-books-list {
    width: 205px;
    height: 284px;
    border: 2px solid #ffd541;
}
.name-books-list {
    padding-left: 2px;
    padding-bottom: 2px;
}
.author-books-list {
    padding-left: 2px;
    padding-top: 2px;
}

.editor-book {
    display: block;
}