@model DeleteLibrary.Models.Book[]

@foreach (var book in Model)
{

    <div class="list-book">
        <div class="row">
            <div class="col-md-3 book-list-header">
                <div class="name-books-list"><b>@book.Name</b></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img class="img-rounded img-books-list" src="@book.Cover">
                <div>
                    <div class="author-books-list">Автор:@book.Author</div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="book-description">
                    @book.Discription
                </div>
                <div>
                    @Html.ActionLink("Забронировать книгу", "ReservedBook", "Library", new { Id = book.Id }, new { @class = "btn btn-block btn-success" })
                </div>
            </div>
        </div>
    </div>
}