<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Все пользователи", "ListUsers", "Admin")</li>
        <li>@Html.ActionLink("Все книги", "Index", "Admin")</li>
        <li>@Html.ActionLink("Книги у пользователей", "ListTakenBooks", "Admin")</li>
        <li>@Html.ActionLink("Кто-когда читал", "ListAllOnDeletedTakenBooks", "Admin")</li>
    </ul>
</div>
